/* SASS Map */
$colors:(
    pink_color: #FA0061,
    blue_color: #2355FF,
    grey_color: #34363A,
    dark_color: #252424,
    green_color: #06AD35,
    card_color: lighten(#FA0061, 20%),
    button_color: lighten(#06AD35, 2%)
    
);

@function color($color_name){
    @return map-get($colors, $color_name);
}

/* ids */
#head{
    font-size: 25px;
    text-align: center;
    margin: 20px 0 40px 0;
}

#head2{
    font-size: 25px;
    text-align: center;
    padding: 30px 0 10px 0;
}

#contact{
    color: white;
    padding: 20px 0 0 0;
    max-width: 100%;
    height: auto;
    // margin: 50px 0 0 0;
    background-color: color(grey_color);
    font-size: 18px;
    hr{ 
        max-width:85%;
        margin-left: auto;
        margin-right: auto;
    }
    p{        
        padding: 20px 0 20px 0;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* classes */ 
.container{
    max-width: 100%;
    position: relative;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 90px 0;
    // max-width: 100%;
}

.flex-footer-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    a{
        padding: 15px;
    }
}

.flex-pagination{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0 80px 0;
    
    a{
        color: color(pink_color);
        padding: 0 10px 0 10px;
        text-decoration: none;
    }
    a:hover{
        color: color(blue_color);
    }
    a.active{
        color: color(blue_color);
    }
    //a.active wait for update!
}

.images{
    img {
        max-width: 100%;
        height: auto;
    }
}

.card{
    width: 33%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    color: white;
    margin: 30px 30px 30px 30px;
    background-color: color(card_color);
    a{
        color:white;
        text-decoration: none;
    }
    img{
        border-radius: 20px;
        width: 100%
    }
}

// .card:nth-child(2){
//     margin-top: 140px;
// }

// .card:nth-child(4){
//     margin-top: 100px;
// }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 106, 0.6);

    .card-container{
        p{
            font-size: 21px;
        }
    }
}

.card-container{
    padding: 20px;
} 



*{  
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
    // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    
}

header{
    background-color: color(pink_color);
}

nav{
    background-color: color(pink_color);
    /* margin-top: 25px; */
    text-align: center;
    font-size: 25px;
    color: white;
    li{
        padding: 10px 0 10px 0;
        a{  
            color:white;
            text-decoration: none;
        }
    }
}

// nav{
//     li{
//         a:hover{
//             transition: 2s;
//             color: #FFFFFF;
//         }
//     }
// }

main{
    font-size: 20px;
    text-align: center;
}

article{
    max-width: 55%;
    text-align: left;
}

figcaption{
    margin: 10px 0 10px 0;
}

footer{
    background-color: color(dark_color);;
}

@media screen and (max-width:784px){
    //hide pre-icon
    .card{
        width: 50%;
    }

}