body{
    margin: 0;
    color: white;
    background-color: #242424;
    font-family: monospace;
}
.container{
    width: 100%;
    position: relative;
}

header{
    position: relative;
    text-align: center;
    margin: 0;
}

header h1{
    /* position: absolute; */
    margin:0;
}

.images img{
    max-width: 100%;
}

nav{
    background-color: #171717;
    /* margin-top: 25px; */
    text-align: center;
    font-size: 21px;
}

nav li, ul{
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}

ul li{
    color: blue;
}

li > a {
    text-decoration: none;
    color:white;
}

a:hover {
    color: blue;
}

span:hover{
    color: blue;
}

#test1{
    /* display: block; */
    visibility: visible;
}

#test2{
    /* display: none; */
    /* visibility: hidden; */
    z-index: -1;
    position: absolute;
}

section{
    /* visibility: visible ; */
    background-color: #000000;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

section h3{
    margin: 0;
}

/* section h2{
    display:inline-block;
} */

.content{
    /* visibility: visible; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 600px;
}

.content h3{
    padding-top: 5%;
    font-size: 28px;
}

.content p{
    padding-top: 5%;
    font-size: 18px;
}



